<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.NAME}}</title>
  </head>
  <body>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <div id="root"></div>
    <script>
      window.data = {{{json data}}}
      var script = document.createElement('script');
      script.src = '/assets/client/main.js' + window.location.search;
      document.head.appendChild(script)
    </script>
  </body>
</html>
