<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.NAME}}</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">window.data = {{{json data}}}</script>
    <script type="text/javascript" src="/assets/site/main.js"></script>
  </body>
</html>
